div#sky{
	background-image:url(../images/blue-bg.png);
	position:relative;
	overflow:hidden;
	display:table;
}
div#ground{
	background-image:url(../images/green-bg.png);
	clear:left;
	overflow:hidden;
}
div#med_clouds{
	position:relative;
}
div#med_clouds img{
	width:40%;	
}
div#small_clouds{
	position:relative;
	top:-250px;
}
div#small_clouds img{
	width:100%;	
}
div#dragon{
	position:relative;
	left:-20%;
}
div#dragon img{
	width:20%;	
}
div#ltrees{
	position:absolute;
	bottom:0px;
	float:left;
}
div#rtrees{
	position:absolute;
	bottom:0px;
	right:0px;
	float:left;
}
div#man{
	position:absolute;
	bottom:0px;
	float:left;
	left:-20%;
	padding-left:200px;
}

button{
	background-color:#eee;
	border-radius:10px;
	color:#06C;
	padding:10px;
	margin: 5% 0 0 5%;
	float:left;
}

#keyboard
{
	float:right;
	margin: 2% 5% 3% 0;
	color:#eee;
}